.column {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.center {
    display: flex;
    justify-content: center;
}
