.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.indent {
    margin-top: 4px;
    margin-left: 8px;
}

.full {
    color: red;
    font-weight: bold;
    visibility: collapse;

    &.true {
        visibility: visible;
    }
}
