<div>
    <div *ngFor="let unit of airUnits">
        <mat-slide-toggle labelPosition="before" [checked]="unit.power | async" (change)="unit.OnChanged($event)">
            <div [attr.title]="unit.desc">{{unit.name}}</div>
        </mat-slide-toggle>
        <div class="indent">
            <div class="row">
                <div>Temperature</div>
                <div>{{unit.temp}}&#8451;</div>
            </div>
            <div class="row" >
                <div>Humidity</div>
                <div>{{unit.humidity}}%</div>
            </div>
            <div class="row" >
                <div>Air Quality</div>
                <div>{{unit.quality}}</div>
            </div>
        </div>
    </div>
</div>
