<div class="app-layout">
    <div class="card">
        <h1>Lights</h1>
        <div>
            <app-hue-lights></app-hue-lights>
        </div>
    </div>
    <div class="card">
        <h1>Machines</h1>
        <div>
            <app-list></app-list>
        </div>
    </div>
    <div class="card">
        <h1>Air</h1>
        <div>
            <app-air></app-air>
        </div>
    </div>
    <div class="card" *ngIf="hasAmp | async">
        <h1>Amp</h1>
        <div>
            <app-amp></app-amp>
        </div>
    </div>
    <div class="card">
        <h1>Options</h1>
        <div>
            <app-options></app-options>
        </div>
    </div>
</div>
