.holder {
    max-width: 132px;
}

.info-main {
    border: rgba(0, 0, 0, 0.12) solid 1px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);

    padding: 8px;
    text-align: center;
}
