// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$blue-palette,
                tertiary: mat.$orange-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

//primary: mat.$blue-palette,
//tertiary: mat.$orange-palette,
//tertiary: mat.define-palette(mat.$orange-palette, A200, A100, A400),

body {
    margin: 4px;
    font: var(--mat-sys-body-medium)
}

h1 {
    font-weight: 400;
    font-size: 24px;
    font-family: var(--mat-switch-label-text-font, var(--mat-sys-body-medium-font));
}

.mat-mdc-icon-button.mat-mdc-button-base {
    padding: 0 0 0 2px;
    width: 24px;
    height: 24px;

    .mat-mdc-button-touch-target {
        width: 24px;
        height: 24px;
    }
}

:root {
    @include mat.slide-toggle-overrides(
        (
            track-height: 14px,
            track-width: 36px,
            track-outline-width: 1px,
            with-icon-handle-size: 20px,
            selected-with-icon-handle-horizontal-margin: 0px 20px,
            unselected-with-icon-handle-horizontal-margin: 0px 0px,
            selected-handle-color: var(--mat-sys-primary-fixed-dim),
            selected-focus-handle-color: var(--mat-sys-surface),
            selected-hover-handle-color: var(--mat-sys-surface),
            selected-pressed-handle-color: var(--mat-sys-primary-fixed-dim),
            selected-track-color: var(--mat-sys-primary-fixed),
            selected-focus-track-color: var(--mat-sys-primary-fixed),
            selected-hover-track-color: var(--mat-sys-primary-fixed),
            selected-pressed-track-color: var(--mat-sys-primary-fixed)
        )
    );
}
